@import './utils/vars';
@import './utils/shared';
@import './components/footer/footer';
@import './components/header/header';
@import './components/first-page/first-page';
@import './components/first-page/modal';
@import './components/first-page/our-client';
@import './components/first-page/feature-box';
@import './components/first-page/job-box';
@import './components/first-page/team-box';
@import './components/second-page/portfolio';
