@import '../../utils/vars';

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  & .modal {
    transform: translateX(-50%) translateY(-50%) scale(0);
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-backdrop;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $color-background-btn;
  border: 1px solid $color-border-close-btn;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: color-svg-button;

  &:hover {
    background-color: $color-background-close-btn-hover;
    fill: $color-svg-hover;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.9s linear;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: $color-background-modal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__window {
    padding: 40px;
  }
  &__title {
    padding-bottom: 12px;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $color-text-modal;
  }
  &__position {
    padding-bottom: 20px;

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__statue-box {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__statue-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $color-text;
  }

  &__button {
    padding: 10px 76px;
    cursor: pointer;
    background-color: $color-button;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: $color-background-btn;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
  }
}
.field {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: $color-text;
    padding-bottom: 4px;
  }
  &__textarea {
    display: inline-flex;
    align-items: center;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    border: 1px solid $color-border-textarea;
    border-radius: 4px;
    padding: 12px 16px;

    &:hover,
    &:focus,
    &:focus-within {
      border-color: $color-focus-hover;
      outline: none;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__item {
    display: inline-flex;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;

    &:hover,
    &:focus,
    &:focus-within {
      fill: $color-focus-hover;
      border-color: $color-focus-hover;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__input {
    border: none;
    padding-left: 15px;
    width: 100%;
    padding-right: 15px;

    &:hover,
    &:focus {
      outline: none;
      color: $color-focus-hover;
    }
  }
}
.checkbox {
  display: inline-flex;
  padding-right: 8px;

  &__control {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    width: 16px;
    height: 15px;
  }
  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(1px, 1px, 1px, 1px);

    &:focus + .checkbox__label {
      fill: $color-focus-hover;
    }
    &:focus:checked + .checkbox__label + .checkbox__label-2 {
      fill: $color-checkbox;
      border: $color-checkbox 1px solid;
    }
    &:checked + .checkbox__label {
      position: absolute;
      width: 100%;
      height: 100%;
      clip: rect(1px, 1px, 1px, 1px);

      & + .checkbox__label-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        clip: auto;
        background-color: $color-focus-hover;
        fill: $color-svg-hover;
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }
  &__label {
    cursor: pointer;

    &:hover {
      fill: $color-focus-hover;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__label-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
