@import '../../utils/vars';

.our-client {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__item {
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-border;
    border-radius: 4px;
    fill: $color-svg;
    @media (min-width: 768px) {
      width: 226px;
      height: 92px;
    }
    @media (min-width: 1200px) {
      width: 170px;
      height: 92px;
    }

    &:hover,
    &:focus {
      border-color: $color-focus-hover;
      fill: $color-focus-hover;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
