@import './vars';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--position {
    display: flex;
    align-items: center;
  }
  &__mobile-blok {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) {
      min-height: 80px;
    }
  }
}
.section {
  padding-bottom: 60px;
  padding-top: 60px;
  @media (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  &--pt-0 {
    padding-top: 0;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.second-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  list-style-type: none;
  padding-bottom: 30px;
  @media (min-width: 1200px) {
    font-size: 36px;
    padding-bottom: 50px;
  }
}
body {
  font-family: $global-font-famil;
  color: $global-color;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.border-header {
  border-bottom: 1px solid $color-border-header;
}
.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-focus-hover;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.logo {
  font-family: $second-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: $global-color;
  @media (min-width: 1200px) {
    font-size: 26px;
  }

  &:hover,
  &:focus {
    color: $color-focus-hover;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__color {
    color: $color-button;
  }
  &--color {
    color: $color-background-neutral;
  }
}
.hr {
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
